# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\romam\AppData\Roaming\JetBrains\DataGrip2021.1\projects\ServiceBase\.idea/dataSources/
/dataSources.local.xml
